// variables
$main-color: #AA0601;
$main-color-dark:#650300;
$main-color-light: #FBF2F2;

// global setting 
body {
  font-family: roboto, "PingFang TC", "Microsoft JhengHei", sans-serif;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.banner-title {
  font-size: 64px;
  line-height: 96px;
  color: $main-color-dark;
  font-weight: 700;
}