// variables
$main-color: #AA0601;
$main-color-dark:#650300;
$main-color-light: #FBF2F2;

// global setting 
body {
  font-family: roboto, "PingFang TC", "Microsoft JhengHei", sans-serif;
  font-weight: 500;
}