.footer {
  background: $main-color;
  padding-top: 36px;
  padding-bottom: 28px;
  color: #ffffff;

  a {
    color: white;
    text-decoration: none;
    line-height: 24px;
    font-size: 16px;
  }

  .footer-item {
    margin-right: 22px;

    &:last-child {
      margin-right: 0;
    }
  }

  .icon-item {
    margin-right: 32px;

    &:last-child {
      margin-right: 0;
    }
  }

  .contact-list {
    padding-bottom: 24px;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 24px;
  }

  .contact-item {
    .icon {
      vertical-align: middle;
      margin-right: 23px;
    }
    a {
      font-size: 36px;
      line-height: 54px;
    }
  }

  .copyright {
    .logo {
      margin-right: 38px;
    }
  }

  .copyright-item{
    margin-right: 62px;

    &:last-child {
      margin-right: 0;
    }
  }
}
